.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: background-color .3s linear, z-index 0s linear;
}

.FadeIn {
    background-color: rgba(0, 0, 0, .7);
    z-index: 98;
}

.FadeOut {
    background-color: rgba(0, 0, 0, 0);
    z-index: -2;
}