.Auth {
    margin: 30px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-direction: column;
    background-color: #1b557c;
    box-shadow: 1px 1px 20px rgb(175, 175, 175);
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

.Auth p {
    margin: 0;
}

.ErrorMessage {
    text-align: center;
    font-size: 5vw;
    color: red;
    font-weight: bold;
}

@media (min-width: 499px) {
    .Auth {
        width: 60%;
    }

    .ErrorMessage {
        font-size: 3vw;
    }
}